<configuration>
	<property name="LOG_HOME" value="../" />

	<!-- 控制台 appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender  name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>E://logs/logs.txt</file>  
		    <encoder><!-- 必须指定，否则不会往文件输出内容 -->  
		        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>  
		    </encoder>  
		    <append>true</append>  
		    <prudent>false</prudent>
	</appender>
	<!--控制台打印资源加载信息debug,error-->
	<root level="errror">
		<appender-ref ref="fileAppender" />
	</root>

</configuration>
